header {
    width:100%;
    text-align:center;
    position:fixed;
    top:0;
    background-color: blue;
    color:white;
    z-index:10;
}

main {
    margin-top:60px;
}

.searchCol {
    height:100%;
    border:black;
}

.card-text {
    font-size: 22px;
}

.fdf {
    display:inline;
}